.home {
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  
  .game-links {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .game-link {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: background-color 0.3s;
  }
  
  .game-link:hover {
    background-color: grey;
  }
  