.keyboard {
  display: block;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  margin: 5px 0;
  
}

.key {
  background-color: #d3d6da;
  color: #0a0a0a;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 2px;
  font-size: 1.2rem;
  cursor: pointer;
  width: 30px;
  height: 40px;
  text-align: center;
}

.key.special {
  width: 50px;
  padding: 10px 20px;
}

.key.enter {
  width: 50px; /* Wider for clarity */
  display: flex;
  /* flex: 0.3; */
  justify-content: center;
}

.key.backspace {
  width: 50px; /* Wider for clarity */
  justify-content: center;
  
}

.key.correct {
  background-color: #538d4e;
  color:white;

}

.key.present {
  background-color: #b59f3b;
  color:white;

}

.key.absent {
  background-color: #3a3a3c;
  opacity: 0.6;
  color:white;

}

.key.typed {
  background-color: #787c7e;
  color:white;
}

.key:active {
  transform: scale(0.95);
}

.key.enter, .key.backspace{
  font-size: 1rem;
  width: 50px;
 
  justify-content: center;
  align-items: center;

}
