.body{
  align-items: center;
}

.strands {
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 1.25rem;
    background-color: white;
    color: black;
    align-items: center;
    align-content: center;
    justify-content: center;
  }


  
  .grid-strands {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 6 columns */
    grid-gap: 0.5rem;
    justify-content: center;
    margin: 1.25rem auto;
    max-width: 400px;
  }
  
  .grid-cell-strands {
    width: 3.125rem;
    height: 3.125rem;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    cursor: pointer;
    position: relative; /* Position for numbering */
    transition: background-color 0.3s;
    transition: border 0.3s;
    border-radius: 50%;

    
  }

  
  .grid-cell-strands.selected {
    background-color: #dbd8c5; /* Light blue for selected cells */
    border: 1px solid #dbd8c5;
    
    
  }
  
  .order-number {
    position: absolute;
    bottom: 2px;
    right: 2px;
    font-size: 0.8rem;
    /* color: #0288d1; */
    font-weight: bold;
  }
  
  .current-word {
    margin-bottom: 1.25rem;
    font-size: 1.2rem;
    color: #333;
  }

  .grid-cell-strands.recently-selected {
    outline:9px solid transparent; /* Transparent to add a gap */
    box-shadow: 0 0 0 2px white, 0 0 0 6px #dbd8c5, 0 0 0 6px #dbd8c5;
    animation: pulse 2s infinite;
    z-index: 0; /* Ensure visibility */
  }
  
  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0.188rem white, 0 0 0 0.375rem #dbd8c5, 0 0 0 0.375rem #dbd8c5;
    }


    70% {
      box-shadow: 0 0 0 0.25rem white, 0 0 0 0.438rem #dbd8c5, 0 0 0 0.438rem #dbd8c5;
      opacity: 1;
    }
    80% {
      box-shadow: none;
      opacity: 1;
    }
    100% {
      box-shadow: 0 0 0 0.188rem white, 0 0 0 0.375rem #dbd8c5, 0 0 0 0.375rem #dbd8c5;
      opacity: 1;
    }
  }
  
  
  .validate-button {
    margin-top: 1.25rem;
    padding: 0.625rem 1.25rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #0288d1;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .validate-button:hover {
    background-color: #01579b;
  }
  
  .message {
    margin-top: 0.625rem;
    font-size: 1.2rem;
    color: #333;
  }
  
  .grid-cell-strands.found-word {
    background-color: #acdcec; /* Yellow for found words */
    border: 1px solid #acdcec;
    cursor: default; /* Disable pointer */
  }
  
  .order-number {
    position: absolute;
    bottom: 2px;
    right: 2px;
    font-size: 0.8rem;
    /* color: #0288d1; */
    font-weight: bold;
    display: none;
  }
  
  
  .connector {
    position: absolute;
    background-color: #dbd8c5;
    transform: translate(-50%, -50%);
    border-radius: 0%; /* To make the connection dots rounded */
    z-index: 1;
    
  }

  .connector.down-left {

    height: 3.3rem;
    width: 0.625rem;
    transform: rotate(48deg);
    top: 1.7rem;
    left:-0.7rem;
    /* border-color:red; */
  }
  
  .connector.up {
    top: -5%;
    left: 1.563rem;
    width: 0.625rem;
    height:1.25rem
  }
  
  .connector.down {
    bottom: -1.25rem;
    left: 1.563rem;
    width: 0.625rem;
    height: 1.1rem;
  }
  
  .connector.left {
    top: 1.563rem;
    right: 1.875rem;
    width: 1.75rem;
    height:0.625rem;
  }
  
  .connector.right {
    top: 1.563rem;
    right: -2.188rem;
    width: 1.5rem;
    height:0.625rem;
  }
  
  .connector.up-left {
    height: 3.125rem;
    width: 0.625rem;
    transform: rotate(-45deg);
    top:-1.875rem;
    left:-0.938rem;
  }
  
  .connector.up-right {

    height: 3.125rem;
    width: 0.625rem;
    transform: rotate(45deg);
    top:-1.875rem;
    left:3.438rem;
  }
  
  .connector.down-right {
    height: 3.125rem;
    width: 0.625rem;
    transform: rotate(-45deg);
    top:1.875rem;
    left:3.438rem;
  }

  .found {
    background-color: #acdcec;
    /* border: 1px solid #f8cd05; */
    border: 1px solid #acdcec;
  }

  .spangram{
    border: 1px solid #f8cd05;
    background-color: #f8cd05;
   
  }

  .mess-spangram{
    color:#f8cd05;
  }

  .mess-found{
    color:#acdcec;
  }
  
/* Box styling for the theme */
.theme-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white; /* Light blue */
  border: 1px solid #dfdfdf; /* Blue border */
  border-radius: 8px;
  padding:0;
  margin: 0.625rem auto;
  width: 80%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
}

.theme-header {
  background-color: #abdbeb; /* Blue background for the header */
  color: black;
  width: 100%;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  padding: 5px 0;
  border-radius: 8px 8px 0 0; /* Rounded corners for the top of the box */
  
}

.theme-content {
  color: black; /* Blue text for the theme */
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.625rem 1.25rem;
  text-align: center;
}

/* Footer section for the hint and theme progress */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem 1.25rem;
  margin-top: 5px;
  bottom: 0;
  left: 0;
  width: 66.66%;
}

.hint-button {
  background-color: #0288d1;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.625rem 0.938rem;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.hint-button:hover {
  background-color: #026ca1;
}

.theme-progress {
  font-size: 1em;
  color: #333;
  font-weight: bold;
  float: right
}


/* Permanent outline for hint */
.grid-cell-strands.hint {
  border: 2px dashed #00bfff;
}

/* Pulsing outline for hint */
.grid-cell-strands.pulsing-hint {
  animation: pulse-hint 1s infinite;
  border: 2px dashed #00bfff;
}

@keyframes pulse-hint {
  0% {
    box-shadow: 0 0 5px #00bfff;
  }
  50% {
    box-shadow: 0 0 15px #00bfff;
  }
  100% {
    box-shadow: 0 0 5px #00bfff;
  }
}
