body {
  font-family: Arial, sans-serif;
  background-color: #0000;
  color: #000000;
  text-align: center;
  margin: 0;
  padding: 0;
}

.App {
  padding: 20px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}
.message {
  margin-top: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #538d4e; /* Green for success */
}

.message:has(.fail) {
  color: #b00020; /* Red for failure */
}
